In [1]:
import numpy as np
np.random.randint(50,100,size=(10,5))

array([[92, 80, 79, 86, 75],
       [58, 58, 70, 76, 52],
       [80, 57, 71, 50, 93],
       [77, 59, 99, 57, 80],
       [87, 80, 73, 72, 85],
       [76, 88, 75, 55, 73],
       [53, 76, 53, 90, 95],
       [97, 59, 62, 88, 78],
       [91, 92, 79, 55, 73],
       [88, 62, 74, 63, 59]])

In [5]:
#安裝套件 pip install --upguade pandas
#

import numpy as np
import pandas as pd
n1 = np.random.randint(200,300,size=(10,))
# comprehension : [f'學生{i+1}' for i in range(10)]
s1 = pd.Series(data=n1,index=[f'學生{i+1}' for i in range(10)])

display(s1)
display(s1.values)
display(s1.index)

學生1     212
學生2     220
學生3     282
學生4     276
學生5     219
學生6     207
學生7     264
學生8     264
學生9     211
學生10    248
dtype: int64

array([212, 220, 282, 276, 219, 207, 264, 264, 211, 248])

Index(['學生1', '學生2', '學生3', '學生4', '學生5', '學生6', '學生7', '學生8', '學生9', '學生10'], dtype='object')

In [6]:
import requests
import pandas as pd

# 設定time為獲取中文姓名100筆的倍數。time=3，就是300筆的意思。
times = 1
cnames = []
for x in range(times):
    url = 'http://www.richyli.com/name/index.asp'
    r = requests.get(url)
    r.encoding = 'big5'
    
    # 將網頁中的資料以分行的方式存成文字檔
    result = r.text.splitlines()
    
    # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
    char_index = result[114].rfind("、")
    temp = result[114][:char_index]
    
    # 將temp的100筆姓名新增到cnames中
    cnames.append(temp)

# 將每100筆姓名的list加一個「、」，再組合成字串存到my_names中
my_names = "、".join(str(x) for x in cnames)
print(my_names)

郭雅慧、姜怡君、陳雅婷、邵怡君、張雅雯、丁兆友、周舒婷、邱俊桂、陳建綸、鄭雅文、傅維木、畢惠美、羅廷林、陳建安、劉隆其、張育旭、陳欣雨、郭旭達、黃信喜、邱幸仁、朱俊翔、張奇桓、翁秀娟、簡瑩甫、韓浩為、王秉鴻、陳姿彥、林宜亨、王郁惟、黃子昀、陳嘉文、汪立伯、江志添、陳淑貞、王正秀、曹怡君、謝意瑄、陳瑩慧、溫秀美、陳思善、陳永妃、楊淑貞、王靜芳、黃舒涵、魏俊安、宋懿美、黃盈如、洪慧茹、洪必雅、李美珠、陳家綺、陳宗翰、洪又方、黃昱定、陳容方、張懿冰、閔雅惠、吳元光、劉玉郁、黃文旭、鄭志銘、楊宜臻、王亭璇、李偉慧、鐘靖美、曾淑任、林明憲、林雲凡、蘇婉婷、黃聿鴻、賴旺康、邱耀德、卓均毓、許家瑋、賴俐月、盧柏南、謝珊漢、林玉侑、葉鈺林、林佩珊、戈君玫、陳麗娟、黃翔盛、陳竹諭、陳右君、陳麗青、姜向佐、徐軍愛、林憶賢、羅治江、倪靜雯、陳淑媛、張上志、王呈云、傅佳霖、洪卓生、林�琝Q、陳昱宣、沈興琦、王素貞

In [17]:
import requests
def getNames(num):
    times = 1
    cnames = []
    for x in range(times):
        url = 'http://www.richyli.com/name/index.asp'
        r = requests.get(url)
        r.encoding = 'big5'
        
        # 將網頁中的資料以分行的方式存成文字檔
        result = r.text.splitlines()
        
        # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
        char_index = result[114].rfind("、")
        temp = result[114][:char_index]
        
        # 將temp的100筆姓名新增到cnames中
        cnames.append(temp)
    print(type(cnames[0]))
    names = cnames[0].split('、')
    return names[:num]


names = getNames(100)

<class 'str'>

In [23]:
import numpy as np
import pandas as pd

n2 = np.random.randint(50,100,size=(10,5))
dataFrame = pd.DataFrame(data=n2,
             index=names[:10],
             columns=["國文","英文","數學","地理","歷史"]
             )
dataFrame

     國文  英文  數學  地理  歷史
鄧志杰  59  95  92  91  54
彭雅名  62  77  70  85  61
江昌純  72  53  83  76  84
林佩君  69  77  58  62  67
陳慧玲  53  54  93  88  88
李佳玲  89  90  91  90  50
陳曉諭  64  88  66  70  53
謝麗娟  89  68  67  85  94
孫彥安  82  78  57  81  50
楊茜禎  89  70  77  53  86